@font-face {
  font-family: 'Avenir Next Cyr';
  font-weight: 400;
  src: url(../../fonts/AvenirNextCyr-Regular.woff);
}

@font-face {
  font-family: 'Avenir Next Cyr';
  font-weight: 700;
  src: url(../../fonts/AvenirNextCyr-Demi.woff);
}

